{% extends 'base.html'%}

{% block body %}
{% load static %}
<style>
    .hero{
        padding: 80px 0px 100px 0px;
    }
    .subtext{
        font-size: 16px;
        padding: 15px 0px;
    }
</style>
<div class="container hero text-center">
    <h1>Find Police Stations around you.</h1>
    <p class="mb-4 subtext">Using Google Maps technology, find Police stations close to you with just a single click.</p>
    <p><a class="btn btn-primary" href="/account/register" role="button">Get Started</a></p>
</div>
{% endblock %}